.navigationItem {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding: 27px 42px;
  color: #434343;
  font-size: 20px;
  background-color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:not(:first-child) {
    margin-left: -1px;
  }
  &:hover {
    cursor: pointer;
    background-color: #f5fbff;
  }
}

.active {
  background-color: #f5fbff;
}

@media (max-width: 1270px) {
  .navigationItem {
    overflow: initial;
    border-bottom: 1px solid #eaeaea;
    line-height: 22px;
  }
}
