.button {
  &.fill-solid {
    @import "src/shared/styles/colors.scss";
    background-color: var(--color);
  }
  &.fill-none {
    @import "src/shared/styles/colors.scss";
    color: var(--color);
    font-size: 36px;
  }
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 100px;
  min-width: 45px;
  font-size: 18px;
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none;
  }
}

.label {
  padding: 0 6px;
}

.shadow {
  box-shadow: 0 0 7px 3px #dedede;
}



