.link {
  text-decoration: none;
  color: white;
  padding: 18px;
  font-size: 22px;
}

.active {
  text-decoration: underline;
}

@media (max-width: 1270px) {
  .link {
    padding: 18px 36px;
  }
}

