@import "src/shared/styles/colors";

.tradesChatInput {
  display: flex;
  padding: 12px 24px;
  background-color: white;
  margin: 0 -20px;
  border: 2px solid #dedede;
}

.input {
  border: none;
  width: 100%;
  font-size: 20px;
  margin-left: 12px;

  &:focus, &:active {
    outline: none;
  }
}

.sendButton {
  background: none;
  border: none;
  font-size: 14px;
  color: map_get($colors, 'green-secondary');
  font-weight: bold;
  &:focus, &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    color: darken(map_get($colors, 'green-secondary'), 10%);
  }
}
