@import "src/shared/styles/colors.scss";

.tradeItem {
  display: flex;
  text-decoration: none;
  padding: 45px 36px;
  color: gray;
  border-bottom: 1px solid #dedede;
  margin-left: -15px;
  margin-top: -1px;
  &:not(:first-child) {
    border-top: 1px solid #dedede;
  }

  &:hover {
    background-color: #F5F7FA;
  }
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.status {
  flex: 0 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemStatus {
  margin-top: 12px;
}

.product {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.active {
  background-color: #F5F7FA;
  &.tradeItem {
    transform: translate3d(15px, 0, 0);
    border-right: 1px solid #dedede;
    border-radius: 3px;
    transition: transform 150ms ease-out;
  }
}

.notificationIcon {
  margin: 5px 7px;
  min-width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: map-get($colors, 'gray');
  &Active {
    background-color: map-get($colors, 'green-secondary');
  }
}
