.tradeItemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  padding: 40px;
  position: relative;
  box-shadow: -2px 5px 5px 0 #dedede;
}

.info {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 115px;
  background-color: #dedede;
  grid-gap: 1px;
  margin-top: 40px;
  border-bottom: 1px solid #dedede;
}

.startDate {
  margin-top: 6px;
  margin-bottom: 20px;
}
