.tradeItemInfoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  padding: 24px;
}

.label {
  font-weight: bold;
  margin-bottom: 12px;
}

.content {
  color: #8d8d8d;
}
