.tradeItemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  padding: 40px;
  position: relative;
  box-shadow: -2px 5px 5px 0 #dedede;
  background-color: white;
  font-family: 'Balsamiq Sans', cursive;
}

.info {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 115px;
  background-color: #dedede;
  grid-gap: 1px;
  margin: 40px 0;
  border-bottom: 1px solid #dedede;
}

.user {
  font-size: 24px;
  color: #434343;
  padding: 0 20px;
  text-align: center;
}

.avatar {
  margin-top: -12px;
}

.rating {
  margin-top: 12px;
}

.closeIcon {
  display: none;
}

@media (max-width: 1270px) {
  .closeIcon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}


